
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url(/pictures/peakpx.jpg);
    background-size: cover;         
    background-position: center;     
    background-repeat: no-repeat;    
    background-attachment: fixed;    
    overflow: hidden;
    min-height: 100vh;               
}

