

#colorMode,
#settings-icon {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 35px;
  padding: 0 15px; 
  cursor: pointer;
}

#pomodoro,
#shortbreak,
#longbreak {
  font-weight: 500;
  padding: 0 15px; 
  border-radius: 10px;
  transition: color, background 0.1s ease-in-out; 
  cursor: pointer;
}

#pomodoro:hover,
#shortbreak:hover,
#longbreak:hover {
  color: rgb(196, 189, 189);
  background-color: rgba(67, 55, 55, 0.685);
}



#colorMode:hover {
  color: rgb(110, 95, 95);
}

#settings-icon:hover{
  color: rgb(110, 95, 95);
}

.hidden {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  top: 20px;
  right: 0;
  display: none;
  flex-direction: column;
  width: 20rem;
  margin-top: 3.5rem;
  gap: 3em;
  height: 100vh;
  background-color: rgba(70, 64, 64, 0.452);
  transform: translateX(10px);
  
}

.show {
  display: flex;
}


.control {
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem ;
  gap: 3rem;
   margin-top: 3rem;
}

.control.AFK {
  opacity: 0;
}

.button {
  background-color: rgb(253, 229, 229);
  font-size: 20px;
  text-align: center;
  padding: 0.5rem 1.5rem ;
  border-radius: 15px;
  border: 2px solid ;
  cursor: pointer;
}

.button:hover {
    background-color: rgba(253, 229, 229, 0.552);
}

.button:active {
    background-color: #42989c;
    transform: translateY(-2px);
}



#exitmusic {
  background-color: #fde5e5;
  font-size: 18px;
  text-align: center;
  padding: 2.5px 10px;
  border-radius: 10px;
  border: 1px solid ;
  cursor: pointer;
}

#exitmusic:hover {
    background-color: rgba(130, 156, 177, 0.5);
}

#exitmusic:active {
    background-color: #42989c;
    transform: translateY(-2px);
}

.settings-option {
  padding: 10px;
}

.settings-option:hover {
  zoom: 105%;
  background-color: rgba(67, 63, 63, 0.413);
}

.settings-option:active {
  zoom: 108%;
}