#pomodoro,
#shortbreak,
#longbreak {
  font-weight: 500;
  padding: 0 15px; 
  border-radius: 10px;
  transition: color, background 0.1s ease-in-out; 
  cursor: pointer;
}

#pomodoro:hover,
#shortbreak:hover,
#longbreak:hover {
  color: rgb(196, 189, 189);
  background-color: rgba(67, 55, 55, 0.685);
}

.button {
  background-color: rgb(253, 229, 229);
  font-size: 20px;
  text-align: center;
  padding: 0.5rem 1.5rem ;
  border-radius: 15px;
  border: 2px solid ;
  cursor: pointer;
}

.button:hover {
    background-color: rgba(253, 229, 229, 0.552);
}

.button:active {
    background-color: #42989c;
    transform: translateY(-2px);
}

.timer-layout {
  font-variant-numeric: tabular-nums;
  font-size: 10em;
  font-weight: bold;
  color: #fde5e5;
  text-align: center;
} 

#colorMode:hover {
  color: rgb(110, 95, 95);
}

#settings-icon:hover{
  color: rgb(110, 95, 95);
}


.control.AFK {
  opacity: 0;
}

#exitmusic {
  background-color: #fde5e5;
  font-size: 18px;
  text-align: center;
  padding: 2.5px 10px;
  border-radius: 10px;
  border: 1px solid ;
  cursor: pointer;
}

#exitceTimer:hover,
#exitmusic:hover {
    background-color: rgba(130, 156, 177, 0.5);
}
#sfxtoggle:active,
#exitceTimer:active,
#exitmusic:active {
    background-color: #42989c;
    transform: translateY(-2px);
}





