


.page-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.page-layout.AFK {
  opacity: 0.4;
  transition: all 1.5s ease;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.timer-layout {
  font-variant-numeric: tabular-nums;
  font-size: 10em;
  font-weight: bold;
  color: #fde5e5;
  text-align: center;
} 