#currentMode,
.top-bar {
  display: flex;
  justify-content: center;
  font-size: 23px;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
  color: white;
  text-shadow: 1px 3px 4px #000000;
}

#currentMode.AFK {
  opacity: 0;
}

.left-items {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
}

.center-items{
  display: flex;
  gap: 5rem;

}

.right-items {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.page-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.page-layout.AFK {
  opacity: 0.4;
  margin-top: -10rem;
  transition: all 1.5s ease;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.timer-layout {
  font-variant-numeric: tabular-nums;
  font-size: 10em;
  font-weight: bold;
  color: #fde5e5;
  text-align: center;
} 

.music-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4); /* optional dark tint */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 30; /* on top of everything */
}

.music-layout.show {
  display: flex;
}

#music-container {
  background-color: rgb(43, 37, 37);
  max-width: 50rem;
  width: 100%;
  height: 30rem;
  border-radius: 10px;
}

#music-container.show {
  display: flex;
}

#musictopbar {
  display: flex;
  justify-content: center;
  width: 50rem;
  max-height: 5rem;
}

#musictopright {
  display: flex;
  justify-content: end;
  margin: 10px 10px 20px;
  width: 50rem;
}

#musictopleft {
  font-size: 20px;
  display: flex;
  justify-content: start;
  margin: 0px 30px 20px;
  width: 50rem;
  color: antiquewhite;
}

.music-contents {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1rem; 
}




