



#pomodoro,
#shortbreak,
#longbreak {
  font-weight: 500;
  padding: 0 15px; 
  border-radius: 10px;
  transition: color, background 0.1s ease-in-out; 
  cursor: pointer;
}
#pomodoro:hover,
#shortbreak:hover,
#longbreak:hover {
  color: rgb(196, 189, 189);
}



#colorMode:hover {
  color: rgb(110, 95, 95);
}

#settings-icon:hover{
  color: rgb(110, 95, 95);
}

.hidden {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  top: 20px;
  right: 0;
  display: none;
  flex-direction: column;
  width: 20rem;
  margin-top: 3.5rem;
  gap: 2rem;
  height: 100vh;
  background-color: rgba(70, 64, 64, 0.452);
  transform: translateX(10px);
  
}

.show {
  display: flex;
}

.page-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.page-layout.AFK {
  opacity: 0.4;
  transition: all 1.5s ease;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.timer-layout {
  font-variant-numeric: tabular-nums;
  font-size: 10em;
  font-weight: bold;
  color: #fde5e5;
  text-align: center;
} 

.control {
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem ;
  gap: 3rem;
   margin-top: 3rem;
}

.button {
  background-color: #fde5e5;
  font-size: 20px;
  text-align: center;
  padding: 0.5rem 1.5rem ;
  border-radius: 20px;
  border: 2px solid ;
  cursor: pointer;
}

.button:hover {
    background-color: rgba(130, 156, 177, 0.5);
}

.button:active {
    background-color: #42989c;
    transform: translateY(-2px);
}

