
#colorMode.nightMode {
    color: #675858;
}

body.lightMode {
    background-image: url(/pictures/lightmodebg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#currentMode.currentlightMode {
  color: #675858;
  border-bottom: 3px solid #2d2525;
  text-shadow: 1px 3px 4px #bababa;
}

.timer-layout.timerlightMode {
  color: #675858;
}


#pomodoro.lightMode,
#shortbreak.lightMode,
#longbreak.lightMode {
  color: #675858;
  text-shadow: 1px 3px 4px #bababa;
}

#pomodoro.lightMode:hover,
#shortbreak.lightMode:hover,
#longbreak.lightMode:hover {
  color: #c4b7b7;
  text-shadow: 1px 3px 4px #bababa;
  background-color: #534c4c9e;
}

.top-bar.lightMode {
  border-bottom: 3px solid #2d2525;
}

#startpausetoggle.lightMode,
#restart.lightMode,
#music-icon.lightMode {
  background-color: #171313;
  color: #baa8a8;
}

#startpausetoggle.lightMode:hover,
#restart.lightMode:hover,
#music-icon.lightMode:hover {
  background-color: rgba(45, 37, 37, 0.807);
}

