* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url(/pictures/4kdownload2.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.top-bar {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-size: 23px;
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

#pomodoro,
#shortbreak,
#longbreak {
  font-weight: 500;
  padding: 0 15px; 
  border-radius: 10px;
  transition: color, background 0.1s ease-in-out; 
  cursor: pointer;
}
#pomodoro:hover,
#shortbreak:hover,
#longbreak:hover {
  color: rgb(243, 243, 243);
}

.page-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.timer-layout {
  font-size: 15em;
  font-weight: bold;
  color: rgb(245, 245, 245);
  text-align: center;
} 

.control {
  display: flex;
  flex-direction: row;
  margin-right: 3rem ;
  gap: 5rem;
   margin-top: 5rem;
}

.startpausebtn {
  background-color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 0.5rem 1.5rem ;
  border-radius: 20px;
  border: 2px solid ;
  cursor: pointer;
}

.startpausebtn:hover {
    background-color: rgba(130, 156, 177, 0.5);
}

.startpausebtn:active {
    background-color: #42989c;
    transform: translateY(-2px);
}

.restartbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-size: 20px;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  border: 2px solid ;
  cursor: pointer;
}

.restartbtn:hover {
    background-color: rgba(130, 156, 177, 0.5);
}


.restartbtn:active {
    background-color: #42989c;
    transform: translateY(-2px);
}